{% extends "base.html" %}
{% block content %}

    <main class="container-fluid mt-5">
        <div class="wow">
            <div class="col-lg-6 col-ms-8 col-sm-12 mx-auto">
                <div class="row bg-dark text-white">
                    <div class="col-sm-12 text-center">
                        <h1>{{equipo.titulo}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="{{equipo.imagen}}" class="img-fluid">
                    </div>
                </div>
                <div class="row mt-5">
                    <p class="col-sm-12">{{equipo.descripcion}}</p>
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}