{% extends "base.html" %}
{% block content %}

    <main class="container-fluid mt-5">
        <div class="wow">
            <div class="col-lg-6 col-ms-8 col-sm-12 mx-auto">
                <div class="row bg-dark text-white">
                    <div class="col-sm-12 text-center">
                        <a href="{% url 'equipos' %}" class="ml-3 text-white"><i class="fas fa-arrow-left h1 "></i></a>
                        <span class="h1 ml-5">{{equipo.titulo}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 im">
                        <img src="{{equipo.imagen.url}}" class="img-fluid ">
                    </div>
                </div>
                <div class="row mt-5">
                    <p class="col-sm-12">{{equipo.descripcion}}</p>
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}