<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.0.0-alpha2-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.15.1-web/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="te">
  <header class="  text-center coo ">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand text-white mr-5" href="#"><img class="img-logo" src="{% static 'img/duo.png' %}" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav ">

            <a class="nav-link text-white {% if request.path == '/' %} active {% endif %}" aria-current="page"
              href="{% url 'home' %}">Home</a>
            <a class="nav-link  text-white {% if request.path == '/equipos/' %} active {% endif %}"
              href="{% url 'equipos' %}">Equipos de prestamos</a>
            <a class="nav-link  text-white {% if request.path == '/equipos/' %} active {% endif %}"
              href="{% url 'agregar_pres' %}">Agregar Prestamo</a>
            <a class="nav-link   text-white {% if request.path == '/equipos/' %} active {% endif %}"
              href="{% url 'listar_pres' %}">Listar Prestamo</a>
            
            {% if user.is_authenticated %}
            <a class="nav-link  text-white {% if request.path == '/equipos/' %} active {% endif %}"
              href="{% url 'logout' %}">Cerrar sesion</a>

            <a href="#">@{{user.username}}</a>

            {% else %}
            <a class="nav-link  text-white {% if request.path == '/equipos/' %} active {% endif %}"
              href="{% url 'login' %}">Iniciar sesion</a>

            {% endif %}
           
          </div>
        </div>
      </div>
    </nav>
  </header>
   



  {% block content %}{% endblock %}

  <footer class="mt-5 pt-5 coo" >
      <div class="main-content">
        <div class="left box">
          <h2>About</h2>
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quas quo, ipsa rerum commodi unde exercitationem distinctio sed consequuntur facere fuga minus ab doloremque magnam sit, beatae accusantium incidunt at?</p>
            <div class="social">
              <a href="https://www.facebook.com/DuocUC.SedeVinadelMar"><span class="fab fa-facebook-f text-dark bg-warning"></span></a>
              <a href="https://twitter.com/DuocUC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><span class="fab fa-twitter text-dark bg-warning"></span></a>
              <a href="https://www.instagram.com/duocuc_cl/?hl=es-la"><span class="fab fa-instagram text-dark bg-warning"></span></a>
              <a href="https://www.youtube.com/c/DuocUCvideos/featured"><span class="fab fa-youtube text-dark bg-warning"></span></a>
            </div>
          </div>
        </div>
        <div class="center box">
          <h2>Adress</h2>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">Viña del mar</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">(+56) 2 2999 3862</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">abc@example.cl</span>
            </div>
          </div>
        </div>

        <div class="right box">
         <h2>Contact</h2>
          <div class="content">
           <form action="" method="POST">{% csrf_token %} 
              <div class="email">
              <div class="text">Email *</div>
              <input name="email" type="email" required>
              </div>
              <div class="msg">
                <div class="text">Mensaje</div>
                <textarea name="mensaje" cols="25" rows="2" requirted></textarea>
              </div>
              <div class="btn">
                <button type="submit">Enviar</button>
              </div>
            </form>

          </div>
        </div>
      </div>
  </footer>

  <script src="{% static 'vendor/bootstrap-5.0.0-alpha2-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      {% if messages %}
        {% for m in messages %}
          <script>
            Swal.fire({
              "title":"{{m}}",
              "icon":"success"
            })
          </script>
          {% endfor %}
      {% endif %}
</body>

</html>