{% extends 'base.html' %}
{% block content %}
            <main>
        <div class="row no-gutters">
          <div class="col-lg-4 d-flex">
            <div class="container align-self-center px-5 content mt-5">
              <h1 class="text-uppercase font-weight-bold mb-4 mt-5 pt-5">
                Bienvenidos al sistema de prestamos de equipos
              </h1>
              <p class="lead-xl mb-4">
                Para continuar inicie sesion
              </p>
            </div>
          </div>
          <div class="col-lg-7 d-none d-lg-block pt-5  ">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/inicio.jpg" class="d-block w-100" alt="">
                  </div>
                  <div class="carousel-item">
                    <img src="img/inicio2.jpg" class="d-block w-100" alt="">
                  </div>
                  <div class="carousel-item">
                    <img src="img/inicio3.jpg" class="d-block w-100" alt="">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
          </div>
        </div>
        </div>
    </main>


{% endblock  %}

    
