{% extends 'base.html' %}
{% block content %}
<main>
  <div class="row no-gutters">
    <div class="col-lg-4 d-flex">
      <div class="container align-self-center px-5 content mt-5">
        <h1 class="text-uppercase font-weight-bold mb-4 mt-5 pt-5">
          Bienvenidos al sistema de prestamos de equipos
        </h1>
        <p class="lead-xl mb-4">
          Para continuar inicie sesion
        </p>
      </div>
    </div>
  </div>
  <section class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            {% for p in equipos %}
            <div class="carousel-item {% if forloop.counter == 1 %} active{% endif %}">
              <img src="{{p.imagen}}" class="d-block w-100 img-a" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{p.titulo}}</h5>
                <p></p>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>


      </div>
    </div>
  </section>

</main>


{% endblock  %}