.img-logo{
    height: 100px;
    width: auto;
}

.icono-dis{
    font-size: 1.5em;
}

.img-e{
    height: 300px;
    width: auto;
}

.img-a{
    height: 400px;
    width: auto;
}
.te{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}