.fondo{
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.coo{
    background: #000000;
}
.titlee{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #000000;
    color: white;
}
.na{
    background: #000000;
}
body{
    background: #FFFFFF;
    color: #111;
}

footer{
    color: aliceblue;
    bottom: 0px;
    width: 100%;
    background: #000000;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    margin: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.left .content .social a span{
    background: #f12020;
}

.img-logo{
    height: 120px;
    width: auto;
}

.icono-dis{
    font-size: 1.5em;
}

.img-e{
    height: 300px;
    width: auto;
}

.img-a{
    height: 400px;
    width: auto;
}
.te{
    font-family: 'Poppins',sans-serif;
}


